#projects{
  width: 100%;
  margin-left: -5.5%;
  display:grid;
    grid-template-columns: 100%;
    grid-template-rows:auto;
    align-items: center;
    justify-content: center;
}
#BodyDiv{
    width: 100%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 255, 255, 0.84); */
    background-image: linear-gradient(rgba(24, 24, 24, 0.459),rgba(62, 61, 61, 0.734));
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}
#project-header{
    margin-left:5%;
    /* text-shadow: 2px 3px rgba(155, 149, 149, 0.565); */
    text-shadow: 2px 3px rgba(0, 0, 0, 0.565);
    color: white;
}
#about-header{
    /* left:5%; */
    margin-left:2.5%;
    /* text-shadow: 2px 3px rgba(155, 149, 149, 0.565); */
    text-shadow: 2px 3px rgba(0, 0, 0, 0.565);
    text-align: center;
    color: white;
}
#skills-header{
    margin-left:2.5%;
    /* text-shadow: 2px 3px rgba(155, 149, 149, 0.565); */
    text-shadow: 2px 3px rgba(0, 0, 0, 0.565);
    text-align: center;
    color: white;
}
#main-section{
    width: 100%;
    background-image: linear-gradient(rgba(24, 24, 24, 0.762),rgba(62, 61, 61, 0.734));
    /* background-image: linear-gradient(rgba(42, 113, 236, 0.784),rgba(255, 255, 255, 0.475)); */
    display:grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;   
}
#about{
    width: 100%;
    margin-left: -2.5%;
    display:grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
#skills{
    width: 100%;
    margin-left: -2.5%;
    display:grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
#header{
    height:100%;
    padding:15px;
}
#p-line{
    width:85%;
    margin-top:5%;
    margin-left:8%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.405) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom:2px solid black;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 320px) {
    #p-line{
        width:90%;
        margin-left:7%;
    }
}
@media only screen and (max-width: 480px) {
    #p-line{
        width:90%;
        margin-left:7%;
    }
}