#about-info-div{
    /* display:grid;
    grid-template-columns: 25% 65%;
    grid-template-rows: auto auto; */
    display:flex;
    flex-direction: row;
    gap: 15%;
    background-color: rgba(255, 255, 255, 0.723);
    margin: 10px;
    padding:15px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    left:2.5%;

}
#about-info-div:hover{
    transform: scale(1.05);
    transition: 1s;
}
#personal-image{
    width:165px;
    border-radius: 100rem;
    border:2px solid black;
}
#about-information{
    text-align: left;
}