#main-header{
    text-shadow: 2px 3px rgba(155, 149, 149, 0.565);
    left:20%;
    font-size: 32px;
    /*
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    */
}

#second-header{
    font-size:22px;
    text-shadow: 2px 3px rgba(155, 149, 149, 0.565);
    left:20%;
}